.ui-avatar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    font-size: 1.25rem;
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    border: 1px solid var(--divider);

    &--name {
        background-color: var(--primary);
        color: var(--primary-contrast);
    }

    &--icon {
        color: var(--primary-contrast);
        background-color: var(--primary);
    }

    &--clickable {
        cursor: pointer;
    }

    &__icon {
        color: currentColor !important;
    }
}