.ui-card {
    border-radius: var(--radius);
    border: 1px solid var(--divider);
    background-color: var(--background-default);

    &__content {
        padding: 16px;
        width: 100%;
    }
}