@use "src/styles/main.scss" as *;

.ui-color-picker-container {
    width: fit-content;

    &--full-width {
        width: 100%;
    }

    &--gutter-bottom {
        margin-bottom: 10px;
    }
}

.ui-color-picker {
    padding: 0;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border-radius: var(--radius);
    border: 1px solid var(--divider);
    background-color: var(--background-default);

    display: flex;
    align-items: center;
    justify-content: flex-start;

    &:focus-within {
        outline: 2px solid var(--primary);
    }

    &--error {
        border-color: var(--error);
    }

    &__preview {
        width: 72px;
        height: 48px;
        background-color: var(--background-default);
        border: none;

        display: flex;
        align-items: center;
        justify-content: center;

        border-right: 1px solid var(--divider);

        div {
            width: 20px;
            height: 20px;
            border-radius: var(--radius);
            transition: all $animation;
        }
    }

    &__label {
        font-size: $font-small;
        color: var(--text-secondary);
        display: block;
        margin-bottom: 5px;

        &--error {
            color: var(--error);
        }
    }

    &__value {
        width: 100%;
        height: 100%;
        padding-left: 16px;
        color: var(--text-secondary);
        text-transform: uppercase;

        display: flex;
        align-items: center;
        justify-content: flex-start;

        &--error {
            color: var(--error);
        }
    }

    &__helper-text {
        opacity: 0;
        margin-top: 5px;
        transition: all $animation;
        font-size: $font-small;

        &--visible {
            opacity: 1;
        }

        &--error {
            color: var(--error);
        }
    }

    &__color {
        width: 30px;
        height: 30px;
        position: relative;
        border-radius: var(--radius);
        transition: all $animation;
        box-shadow: $boxShadow;

        display: flex;
        justify-content: center;
        align-items: center;

        border: none;

        cursor: pointer;

        &:hover {
            box-shadow: 0 0 0 2px var(--primary);
        }

        &__icon {
            transform: scale(0);
            transition: all $animation;

            &--visible {
                transform: scale(1);
            }
        }

        input {
            position: absolute;
            visibility: hidden;
        }
    }

    input {
        height: 48px;
        width: 100%;
        border: none;
        outline: none;
        font: inherit;
        font-family: $font-regular;
        padding-left: 16px;
    }
}