@font-face {
    font-family: "poppins-bold";
    src: url('./../assets/fonts/Poppins-Bold.ttf') format("truetype");
}

@font-face {
    font-family: "poppins-regular";
    src: url('./../assets/fonts/Poppins-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "poppins-light";
    src: url('./../assets/fonts/Poppins-Light.ttf') format("truetype");
}

@font-face {
    font-family: "poppins-semibold";
    src: url('./../assets/fonts/Poppins-SemiBold.ttf') format("truetype");
}